<div class="container mt-3 mb-5">
	<h2 class="text-center">Detail Book</h2>
	<div class="ml-3 mb-3">
    <a [routerLink]="['/']" class="btn btn-outline-info mb-3">Back</a>
	</div>
	<div class="card">
		<div class="card-body">
			<div><span class="font-weight-bold text-success">Title: </span>{{ book.title }}</div>
			<div class="mt-4"><span class="font-weight-bold text-success">Author: </span>{{ book.author }}ok</div>
			<div class="mt-4"><span class="font-weight-bold text-success">Description: </span>{{ book.description }}</div>
		</div>
	</div>
</div>
